@{
    ViewData["Title"] = "Home Page";
}


<div class="sample">
    <h2>Sample 1: Save to disk</h2>
    <form>
        <textarea id="edit" name="content"></textarea>
    </form>
</div>


<div class="sample">
    <h2>Sample 2: Save to disk (resize on server)</h2>
    <form>
        <textarea id="edit-resize" name="content"></textarea>
    </form>
</div>

<div class="sample">
    <h2>Sample 3: Save to disk with custom validation: Images must be squares (width == height). Files must not exceed 10M.</h2>
    <form>
        <textarea id="edit-validation" name="content"></textarea>
    </form>
</div>

<div class="sample">
    <h2>Sample 4: Save to Amazon using signature version 4</h2>
    <form>
        <textarea id="edit-amazon" name="content"></textarea>
    </form>
</div>


@section scripts
{
    <!-- Include Font Awesome. -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Include Froala Editor styles -->
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/froala_editor.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/froala_style.min.css" />
    
    <!-- Include Froala Editor Plugins styles -->
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/colors.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/file.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/image.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/table.css">
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/video.css">

    <!-- Include Froala Editor -->
    <script src="~/lib/froala-wysiwyg-editor/js/froala_editor.min.js"></script>

    <!-- Include Froala Editor Plugins -->
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/file.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/image.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/video.min.js"></script>
    <!-- End Froala -->
<script>
    
    (function() {
        const editInstance = new FroalaEditor('#edit',
            {
                imageUploadURL: '/FroalaApi/UploadImage',
                fileUploadURL: '/FroalaApi/UploadFile',
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST",
                // Introduce the Video Upload Buttons
                videoInsertButtons: ['videoBack', '|', 'videoByURL', 'videoEmbed', 'videoUpload'],
                // Set the video upload URL.
                videoUploadURL: '/FroalaApi/UploadVideo',
                // Set request type.
                videoUploadMethod: 'POST',
                events: {
                    // Catch image removal from the editor.
                    'froalaEditor.image.removed': function (e, editor, $img) {

                        var httpRequest = new XMLHttpRequest();
                        httpRequest.open('POST', "/FroalaApi/DeleteImage", true);
                        httpRequest.onload = function() {
                            if (httpRequest.status >= 200 && httpRequest.status < 400) {
                                // Success!
                                console.log('image was deleted');
                            } else {
                                // We reached our target server, but it returned an error
                                console.log('image delete problem from target server : ' + httpRequest.status);
                            }
                        };
                        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        httpRequest.send({ src: $img.attr('src') });
                    },
                    // Catch image removal from the editor.
                    'froalaEditor.file.unlink': function (e, editor, link) {

                        var httpRequest = new XMLHttpRequest();
                        httpRequest.open('POST', "/FroalaApi/DeleteImage", true);
                        httpRequest.onload = function () {
                            if (httpRequest.status >= 200 && httpRequest.status < 400) {
                                // Success!
                                console.log('image was deleted');
                            } else {
                                // We reached our target server, but it returned an error
                                console.log('image delete problem from target server : ' + httpRequest.status);
                            }
                        };

                        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        httpRequest.send({ src: link.getAttribute('href') });
                    }
                }
            });
        const editResizeInstance = new FroalaEditor('#edit-resize',
            {
                imageUploadURL: '/FroalaApi/UploadImageResize',
                fileUploadURL: '/FroalaApi/UploadFile',
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST",
                events: {
                    // Catch image removal from the editor.
                    'froalaEditor.image.removed': function (e, editor, $img) {
                        var httpRequest = new XMLHttpRequest();
                        httpRequest.open('POST', "/FroalaApi/DeleteImage", true);
                        httpRequest.onload = function () {
                            if (httpRequest.status >= 200 && httpRequest.status < 400) {
                                // Success!
                                console.log('image was deleted');
                            } else {
                                // We reached our target server, but it returned an error
                                console.log('image delete problem from target server : ' + httpRequest.status);
                            }
                        };

                        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        httpRequest.send({ src: $img.attr('src') });
                    },
                    // Catch image removal from the editor.
                    'froalaEditor.file.unlink': function (e, editor, link) {
                        var httpRequest = new XMLHttpRequest();
                        httpRequest.open('POST', "/FroalaApi/DeleteImage", true);
                        httpRequest.onload = function () {
                            if (httpRequest.status >= 200 && httpRequest.status < 400) {
                                // Success!
                                console.log('image was deleted');
                            } else {
                                // We reached our target server, but it returned an error
                                console.log('image delete problem from target server : ' + httpRequest.status);
                            }
                        };
                        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        httpRequest.send({ src: link.getAttribute('href') });
                    }
                }
            });
        const editValidationInstance = new FroalaEditor('#edit-validation',
            {
                imageUploadURL: '/FroalaApi/UploadImageValidation',
                imageUploadParam: 'myImage',
                fileUploadURL: '/FroalaApi/UploadFileValidation',
                fileUploadParam: 'myFile',
                fileMaxSize: 1024 * 1024 * 50,
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST",
                events: {
                    // Catch image removal from the editor.
                    'froalaEditor.image.removed': function(e, editor, $img) {
                        var httpRequest = new XMLHttpRequest();
                        httpRequest.open('POST', "/FroalaApi/DeleteImage", true);
                        httpRequest.onload = function() {
                            if (httpRequest.status >= 200 && httpRequest.status < 400) {
                                // Success!
                                console.log('image was deleted');
                            } else {
                                // We reached our target server, but it returned an error
                                console.log('image delete problem from target server : ' + httpRequest.status);
                            }
                        };
                        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        httpRequest.send({ src: $img.attr('src') });
                    },
                    // Catch image removal from the editor.
                    'froalaEditor.file.unlink': function(e, editor, link) {
                        var httpRequest = new XMLHttpRequest();
                        httpRequest.open('POST', "/FroalaApi/DeleteImage", true);
                        httpRequest.onload = function() {
                            if (httpRequest.status >= 200 && httpRequest.status < 400) {
                                // Success!
                                console.log('image was deleted');
                            } else {
                                // We reached our target server, but it returned an error
                                console.log('image delete problem from target server : ' + httpRequest.status);
                            }
                        };

                        httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        httpRequest.send({ src: link.getAttribute('href') });
                    }
                }
            });
    })();

    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function () {
        if (httpRequest.readyState === 4) {
            const data = JSON.parse(httpRequest.responseText);
            // code
            const editAmazonInstance = new FroalaEditor('#edit-amazon',
                {
                    imageUploadToS3: data,
                    fileUploadToS3: data,
                    videoUploadToS3: data
                });
        }
    };
    httpRequest.open('GET', "/FroalaApi/S3Signature");
    httpRequest.send();
</script>
}